*,
*:after,
*:before {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

a {
	color: black;
	text-decoration: underline;
}

a:hover {
	color: black;
	text-decoration: none;
}

body {
	min-height: 100vh;
	min-width: 100vw;
	color: black;
	background: #fff;

	font-family: Times;
}

header, .project-meta, .file-meta, .meta, .weather-pin {
	font-family: courier;	
}

/* font sizes */

body, .project-meta {
	font-size: 16px;
	line-height: 20px;
}

h1, .Home #text p {
	font-size: 36px;
	line-height: 44px;
	font-weight: normal;
}

p, .projects li{
	font-size: 24px;
	line-height: 30px;
}

.weather-pin::after, #weather-icon {
	font-size: 24px;	
}



/* header */

header {
	padding: 40px;
	position: relative;
	z-index: 1;
	box-sizing: border-box;
}

/*#logo {
	float: left;
}
*/
/* menu */

/*.menu {
	float: right;
}

.menu a {
	display: inline-block;
	padding: 0px 10px;
}

.menu li {
	list-style-type: none;
}
*/
/* page */

#container {
	width: calc(100% - 80px);
	margin: auto;

	clear: both;
	position: relative;
	z-index: 1;

	max-width: 1200px;
	margin: auto;	

	padding: 100px 0px;
}

#container img {
	max-width: 100%;
	margin-bottom: 20px;
	filter: grayscale(1);
}

/* home */

.Home h1 {
	display: none;
}

.Home #container #text {
	max-width: 100%
}

/* projects page */

h1 {
	margin-bottom: 40px;
}

p {
	margin-bottom: 30px;
}

.projects {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	list-style: none;
	grid-gap: 40px;
	max-width: 100%
}

.image-holder {
	margin: 20px 0px;
}

.image-holder img{
}

.projects img{
	width: 100%;
}

#project-description {
	max-width: 800px;
}

#project-description h1 {
	margin-bottom: 10px;
}

.project-meta {
	margin-bottom: 20px;
}

.project-meta span, .project-meta a{
	display: block;
}

.link {
	background-image: url('../img/link.png');
	background-size: 25px;
	background-position:0px 2px;
	min-height: 30px;
	background-repeat: no-repeat;
	padding-left: 28px;
}

.file-meta {
	padding: 10px 0px;
}

video {
	max-width: 100%;
}

/* about */

#container #text {
	max-width: 800px;
}

#container #text img {
	max-width: 400px;
	width: 100%;
}


@media only screen and (max-width: 800px) {

}